{% extends "layout.html" %}
{% block content %}

<h1 class="home_header">Are you ready for Paris 2024 Olympic Rowing?</h1>
<p class="home_text">
    Learn about the sport of rowing ahead the 2024 Summer Olympics! Become the expert at your watch party through two short, interactive lessons.
</p>

<div class="lesson1">
    <a href="/learn/1">Lesson 1. Types of Boats</a>
</div>
<div class="lesson2">
    <a href="/learn/2">Lesson 2. Boat Biology</a>
</div>
<div class="quiz">
    <a href="/quiz">Test Your Knowledge</a>
</div>

{% endblock %}

