{% extends "layout.html" %}
{% block content %}

{% if lesson_number == 1 %}
<h1>Boat Types</h1>
<p>
    There are several types of boats, or racing shells. <br>
    Read the definition of each key term, then click to see the next.
</p>
<div id="slideShow" style="border: 1px solid black;">
    <div class="slide" style="display: block;">
        <h2>Oar</h2>
        <p>The device one uses to pull or push the water, formerly made of wood and now usually made of carbon fiber.</p>
        <img src="/static/images/oars.png">
    </div>
    <div class="slide" style="display: none;">
        <h2>Sculling</h2>
        <p>The rowing style in which each rower has two oars.</p>
        <img src="/static/images/sculling.png">
    </div>
    <div class="slide" style="display: none;">
        <h2>Sweeping</h2>
        <p>The rowing style in which rowers have one oar each.</p>
        <img src="/static/images/sweep.png">
    </div>
    <div class="slide" style="display: none;">
        <h2>Coxswain</h2>
        <p>The person in the boat responsible for steering, safety, motivating the crew, and race strategy. The coxswain either sits in the stern or lies in the bow of the boat. Pronounced "Cox'n."         </p>
        <img src="/static/images/coxswain.png">
        <video src="/static/How to Pronounce Coxswain.mp4" controls></video>
    </div>
    <div class="slide" style="display: none;">
        <h2>Review</h2>
        <p>Oar: The device one uses to pull or push the water, formerly made of wood and now usually made of carbon fiber.</p>
        <p>Sculling: The rowing style in which each rower has two oars.</p>
        <p>Sweeping: The rowing style in which rowers have one oar each.</p>
        <p>Coxswain:The person in the boat responsible for steering, safety, motivating the crew, and race strategy. The coxswain either sits in the stern or lies in the bow of the boat. Pronounced "Cox'n."         </p>
        <img src="/static/images/boysintheboat.png">
        <p>The University of Washington Men’s Team as featured in the movie The Boys in the Boat. Spot the oars and the coxswain! What style of rowing is this?</p>
    </div>
</div>
<button id="nextButton" onclick="nextSlide()">Next Slide</button>

<div id="differentContent" style="display: none;">
    <!-- Different content to show after all slides have been viewed -->
    <h2>How to Read Abbreviations</h2>
    <p>Each boat type has a different abbreviation made up of two parts, a number and a symbol.<br>
    The number represents the number of rowers in the boat. (Note: this does not include the coxswain.) The symbol represents the style of rowing. Click on each one to learn which style each represents.</p>
        <div id="buttonsContent3">
        <button onclick="action1()">X</button>
        <button onclick="action2()">+</button>
        <button onclick="action3()">-</button>
    </div>
    <div id="button1" style="display: none;"> 
        x : sculling style
        <img src="/static/images/sculling_2.png">
        <button id="returnButton" onclick="returnToAbbr()">Return</button>
    </div>
    <div id="button2" style="display: none;"> 
        + : sweeping style with a coxswain
        <img src="/static/images/sweep_2.png">
        <button id="returnButton" onclick="returnToAbbr()">Return</button>
    </div>
    <div id="button3" style="display: none;"> 
        - : sweeping style without a coxswain
        <img src="/static/images/coxless_4.png">
        <button id="returnButton" onclick="returnToAbbr()">Return</button>
    </div>
    <button id="differentContentButton" onclick="nextDifferentContent()" style="display:none">Next</button>
</div>
<div id="content3" style="display: none;">
    <!-- Content #3 -->
    <h2>Content #3</h2>
    <p>This is the content for the third section.</p>
    <img id= "boatImage1" src="/static/images/single_sculls.png">
    <button id="boatButton1" onclick="actionBoat1()">Single Sculls</button>
    <img id= "boatImage2" src="/static/images/double_sculls.png">
    <button id="boatButton2" onclick="actionBoat2()">Double Sculls</button>
    <img id= "boatImage3" src="/static/images/coxless_four.png">
    <button id="boatButton3" onclick="actionBoat3()">Coxless Four</button>
    <img id= "boatImage4" src="/static/images/coxless_pair.png">
    <button id="boatButton4" onclick="actionBoat4()">Coxless Pair</button>
    <img id= "boatImage5" src="/static/images/quad_sculls.png">
    <button id="boatButton5" onclick="actionBoat5()">Quad Sculls</button>
    <img id= "boatImage6" src="/static/images/eight.png">
    <button id="boatButton6" onclick="actionBoat6()">Eight</button>
    <button id="returnButton" onclick="returnToButtons()" style="display: none">Return</button>
    <div id="single" style="border: 1px solid black; display: none;">
        <div class="single">
            <p>Directions: Click on the correct number, term, or symbol for each aspect to identify the boat.</p>
            <img src="/static/images/single_sculls.png">
            <p>Number of people</p>
            <button onclick="checkAnswer('people', 1)">1</button>
            <button onclick="checkAnswer('people', 2)">2</button>
            <button onclick="checkAnswer('people', 4)">4</button>
            <button onclick="checkAnswer('people', 8)">8</button>
        
            <p>Number of oars</p>
            <button onclick="checkAnswer('oars', 2)">2</button>
            <button onclick="checkAnswer('oars', 4)">4</button>
            <button onclick="checkAnswer('oars', 8)">8</button>
        
            <p>Style</p>
            <button onclick="checkAnswer('style', 'sculling')">Sculling</button>
            <button onclick="checkAnswer('style', 'sweeping')">Sweeping</button>
        
            <p>Abbreviation</p>
            <button onclick="checkAnswer('abbr', 1)">1</button>
            <button onclick="checkAnswer('abbr', 2)">2</button>
            <button onclick="checkAnswer('abbr', 4)">4</button>
            <button onclick="checkAnswer('abbr', 8)">8</button>
            <button onclick="checkAnswer('abbr', '+')">+</button>
            <button onclick="checkAnswer('abbr', '-')">-</button>
            <button onclick="checkAnswer('abbr', 'x')">x</button>
        </div>
    </div>
    <div id="double" style="border: 1px solid black; display: none;">
        <div class="double">
            <p>Directions: Click on the correct number, term, or symbol for each aspect to identify the boat.</p>
            <img src="/static/images/double_sculls.png">
            <p>Number of people</p>
            <button onclick="checkAnswer('people', 1)">1</button>
            <button onclick="checkAnswer('people', 2)">2</button>
            <button onclick="checkAnswer('people', 4)">4</button>
            <button onclick="checkAnswer('people', 8)">8</button>
        
            <p>Number of oars</p>
            <button onclick="checkAnswer('oars', 2)">2</button>
            <button onclick="checkAnswer('oars', 4)">4</button>
            <button onclick="checkAnswer('oars', 8)">8</button>
        
            <p>Style</p>
            <button onclick="checkAnswer('style', 'sculling')">Sculling</button>
            <button onclick="checkAnswer('style', 'sweeping')">Sweeping</button>
        
            <p>Abbreviation</p>
            <button onclick="checkAnswer('abbr', 1)">1</button>
            <button onclick="checkAnswer('abbr', 2)">2</button>
            <button onclick="checkAnswer('abbr', 4)">4</button>
            <button onclick="checkAnswer('abbr', 8)">8</button>
            <button onclick="checkAnswer('abbr', '+')">+</button>
            <button onclick="checkAnswer('abbr', '-')">-</button>
            <button onclick="checkAnswer('abbr', 'x')">x</button>
        </div>
    </div>
    <div id="pair" style="border: 1px solid black; display: none;">
        <div class="pair">
            <p>Directions: Click on the correct number, term, or symbol for each aspect to identify the boat.</p>
            <img src="/static/images/coxless_pair.png">
            <p>Number of people</p>
            <button onclick="checkAnswer('people', 1)">1</button>
            <button onclick="checkAnswer('people', 2)">2</button>
            <button onclick="checkAnswer('people', 4)">4</button>
            <button onclick="checkAnswer('people', 8)">8</button>
        
            <p>Number of oars</p>
            <button onclick="checkAnswer('oars', 2)">2</button>
            <button onclick="checkAnswer('oars', 4)">4</button>
            <button onclick="checkAnswer('oars', 8)">8</button>
        
            <p>Style</p>
            <button onclick="checkAnswer('style', 'sculling')">Sculling</button>
            <button onclick="checkAnswer('style', 'sweeping')">Sweeping</button>
        
            <p>Abbreviation</p>
            <button onclick="checkAnswer('abbr', 1)">1</button>
            <button onclick="checkAnswer('abbr', 2)">2</button>
            <button onclick="checkAnswer('abbr', 4)">4</button>
            <button onclick="checkAnswer('abbr', 8)">8</button>
            <button onclick="checkAnswer('abbr', '+')">+</button>
            <button onclick="checkAnswer('abbr', '-')">-</button>
            <button onclick="checkAnswer('abbr', 'x')">x</button>
        </div>
    </div>
    <div id="four" style="border: 1px solid black; display: none;">
        <div class="four">
            <p>Directions: Click on the correct number, term, or symbol for each aspect to identify the boat.</p>
            <img src="/static/images/coxless_four.png">
            <p>Number of people</p>
            <button onclick="checkAnswer('people', 1)">1</button>
            <button onclick="checkAnswer('people', 2)">2</button>
            <button onclick="checkAnswer('people', 4)">4</button>
            <button onclick="checkAnswer('people', 8)">8</button>
        
            <p>Number of oars</p>
            <button onclick="checkAnswer('oars', 2)">2</button>
            <button onclick="checkAnswer('oars', 4)">4</button>
            <button onclick="checkAnswer('oars', 8)">8</button>
        
            <p>Style</p>
            <button onclick="checkAnswer('style', 'sculling')">Sculling</button>
            <button onclick="checkAnswer('style', 'sweeping')">Sweeping</button>
        
            <p>Abbreviation</p>
            <button onclick="checkAnswer('abbr', 1)">1</button>
            <button onclick="checkAnswer('abbr', 2)">2</button>
            <button onclick="checkAnswer('abbr', 4)">4</button>
            <button onclick="checkAnswer('abbr', 8)">8</button>
            <button onclick="checkAnswer('abbr', '+')">+</button>
            <button onclick="checkAnswer('abbr', '-')">-</button>
            <button onclick="checkAnswer('abbr', 'x')">x</button>
        </div>
    </div>
    <div id="quad" style="border: 1px solid black; display: none;">
        <div class="quad">
            <p>Directions: Click on the correct number, term, or symbol for each aspect to identify the boat.</p>
            <img src="/static/images/quad_sculls.png">
            <p>Number of people</p>
            <button onclick="checkAnswer('people', 1)">1</button>
            <button onclick="checkAnswer('people', 2)">2</button>
            <button onclick="checkAnswer('people', 4)">4</button>
            <button onclick="checkAnswer('people', 8)">8</button>
        
            <p>Number of oars</p>
            <button onclick="checkAnswer('oars', 2)">2</button>
            <button onclick="checkAnswer('oars', 4)">4</button>
            <button onclick="checkAnswer('oars', 8)">8</button>
        
            <p>Style</p>
            <button onclick="checkAnswer('style', 'sculling')">Sculling</button>
            <button onclick="checkAnswer('style', 'sweeping')">Sweeping</button>
        
            <p>Abbreviation</p>
            <button onclick="checkAnswer('abbr', 1)">1</button>
            <button onclick="checkAnswer('abbr', 2)">2</button>
            <button onclick="checkAnswer('abbr', 4)">4</button>
            <button onclick="checkAnswer('abbr', 8)">8</button>
            <button onclick="checkAnswer('abbr', '+')">+</button>
            <button onclick="checkAnswer('abbr', '-')">-</button>
            <button onclick="checkAnswer('abbr', 'x')">x</button>
        </div>
    </div>
    <div id="eight" style="border: 1px solid black; display: none;">
        <div class="eight">
            <p>Directions: Click on the correct number, term, or symbol for each aspect to identify the boat.</p>
            <img src="/static/images/eight.png">
            <p>Number of people</p>
            <button onclick="checkAnswer('people', 1)">1</button>
            <button onclick="checkAnswer('people', 2)">2</button>
            <button onclick="checkAnswer('people', 4)">4</button>
            <button onclick="checkAnswer('people', 8)">8</button>
        
            <p>Number of oars</p>
            <button onclick="checkAnswer('oars', 2)">2</button>
            <button onclick="checkAnswer('oars', 4)">4</button>
            <button onclick="checkAnswer('oars', 8)">8</button>
        
            <p>Style</p>
            <button onclick="checkAnswer('style', 'sculling')">Sculling</button>
            <button onclick="checkAnswer('style', 'sweeping')">Sweeping</button>
        
            <p>Abbreviation</p>
            <button onclick="checkAnswer('abbr', 1)">1</button>
            <button onclick="checkAnswer('abbr', 2)">2</button>
            <button onclick="checkAnswer('abbr', 4)">4</button>
            <button onclick="checkAnswer('abbr', 8)">8</button>
            <button onclick="checkAnswer('abbr', '+')">+</button>
            <button onclick="checkAnswer('abbr', '-')">-</button>
            <button onclick="checkAnswer('abbr', 'x')">x</button>
        </div>
    </div>
    <button id="nextLessonButton" style="display: none;" onclick="nextLesson()" style="display:none">Next Lesson</button>

</div>


{% elif lesson_number == 2 %}
<h1>Parts of a Boat</h1>
<p id="diagram_directions">
    Regardless of the type of boat, all share some key components. Click on each part of the boat to learn more.
</p>
<div id = "diagram" class="container">
    <img src="/static/images/single_diagram.jpeg">
    <button class="diagram_button" onclick="showInfo('Stern')">Stern</button>
    <button class="diagram_button" onclick="showInfo('Rigger')">Rigger</button>
    <button class="diagram_button" onclick="showInfo('Seat')">Seat</button>
    <button class="diagram_button" onclick="showInfo('Deck')">Deck</button>
    <button class="diagram_button" onclick="showInfo('Bow')">Bow</button>
    <button class="diagram_button" onclick="showInfo('Footstretcher')">Footstretcher</button>
    <button class="diagram_button" onclick="showInfo('Oarlock')">Oarlock</button>

    <button id="backButton" onclick="back()">Back</button>

    <button class="diagram_button" onclick="next()">Next</button>

</div>
<div id="info"></div>

<div id="review" style="display: none;">
    <h2>Review</h2>
    <img src="/static/images/diagram_d&d.png">
    <div id="wordBank">
        <h3>Word Bank</h3>
        <div class="word" draggable="true">Stern</div>
        <div class="word" draggable="true">Rigger</div>
        <div class="word" draggable="true">Seat</div>
        <div class="word" draggable="true">Bow</div>
        <div class="word" draggable="true">Deck</div>
        <div class="word" draggable="true">Footstretcher</div>
        <div class="word" draggable="true">Oarlock</div>
    </div>
    <button class="go_to_quiz" onclick="nextLesson()">Great Job</button>
</div>

{% else %}
<p>Lesson not found.</p>
{% endif %}

{% endblock %}