{% extends "layout.html" %}
{% block content %}

<h1>Ready to text your knowledge?</h1>
<div>
    Go for Gold <br>
    Choose a racing shell and a country to represent in the Virtual 2024 Games! For each question you get correct, your
    boat will advance on the course. Don’t let the other boats get ahead. Good luck!
    <br>
</div>
    <button id="countryButton" onclick="toggleDropdown('dropdown')">Select a country</button>
    <div id="dropdown" style="display: none;">
        <ul>
            <li onclick="selectOption('country', this)">United States</li>
            <li onclick="selectOption('country', this)">The Netherlands</li>
            <li onclick="selectOption('country', this)">Germany</li>
            <li onclick="selectOption('country', this)">Canada</li>
            <li onclick="selectOption('country', this)">Great Britain</li>
            <li onclick="selectOption('country', this)">Australia</li>
            <li onclick="selectOption('country', this)">China</li>
            <li onclick="selectOption('country', this)">Brazil</li>
        </ul>
    </div>
    <button id="boatButton" onclick="toggleDropdown('dropdown2')">Select a boat</button>
    <div id="dropdown2" style="display: none;">
        <ul>
            <li onclick="selectOption('boat', this)">Single sculls</li>
            <li onclick="selectOption('boat', this)">Double sculls</li>
            <li onclick="selectOption('boat', this)">Coxless pair</li>
            <li onclick="selectOption('boat', this)">Coxless four</li>
            <li onclick="selectOption('boat', this)">Quad sculls</li>
            <li onclick="selectOption('boat', this)">Eight</li>
        </ul>
    </div>
</div>

<button id="playGameButton" style="display: none;" onclick="navigateToQuiz()">Play Game</button>


{% endblock %}