{% extends "layout.html" %}
{% block content %}
<div class="quiz_home">
    <h1>Ready to test your knowledge?</h1>
    <p>
        <span class="gold">Go for Gold in the 2024 Virtual Games!</span> <br>
        <img src="/static/images/rings.png"><br>
        Choose a racing shell and a country to represent. For each question you get correct,
        your boat will advance on the course. Don’t let the other boats get ahead. Good luck!
        <br>
    </p>
    <button id="countryButton" onclick="toggleDropdown('dropdown')">Select a country</button>

    <button id="boatButton" onclick="toggleDropdown('dropdown2')">Select a boat</button>
    <div id="dropdown" style="display: none;">
        <ul>
            <li onclick="selectOption('country', this)">United States</li>
            <li onclick="selectOption('country', this)">Canada</li>
            <li onclick="selectOption('country', this)">Great Britain</li>
        </ul>
    </div>
    <div id="dropdown2" style="display: none;">
        <ul>
            <li onclick="selectOption('boat', this)">Single sculls</li>
            <li onclick="selectOption('boat', this)">Double sculls</li>
            <li onclick="selectOption('boat', this)">Coxless pair</li>
            <li onclick="selectOption('boat', this)">Coxless four</li>
            <li onclick="selectOption('boat', this)">Quad sculls</li>
            <li onclick="selectOption('boat', this)">Eight</li>
        </ul>
    </div>
    <br>
    <button id="playGameButton" style="display: none; position: absolute; bottom: 10px; right: 10px;"
        onclick="navigateToQuiz()">
        Play Game
    </button>
</div>
{% endblock %}
