{% extends "layout.html" %}
{% block content %}

<div class="race-course">
    <div id="user_boat"></div>
    <div id="npc1"></div>
    <div id="npc2"></div>
</div>
<br>


{% if question_number == 1 %}
<br>
<h1>Question 1</h1>
<p>Click on each term and match it to the correct definiton.</p>
<div class="matching-container">
    <div class="row matching-item">
        <img src="/static/images/coxless_four.png" alt="Coxless Four" class="matching_image" data-id="1"
            draggable="true" id="1">
        <div class="matching_box" data-id="1" ondrop="drop(event)" ondragover="allowDrop(event)">Coxless Four</div>
    </div>

    <div class="row matching-item">
        <img src="/static/images/quad_sculls.png" alt="Quad Sculls" class="matching_image" data-id="2" draggable="true"
            id="2">
        <div class="matching_box" data-id="2" ondrop="drop(event)" ondragover="allowDrop(event)">Quad Sculls</div>
    </div>

    <div class="row matching-item">
        <img src="/static/images/eight.png" alt="Eight" class="matching_image" data-id="3" draggable="true" id="3">
        <div class="matching_box" data-id="3" ondrop="drop(event)" ondragover="allowDrop(event)">Eight</div>
    </div>

    <button id="submitBtnMatching" onclick="submitMatching()">Submit</button>
    <div id="quiz1score" style="display: none;"></div>
    <button id="nextBtn" onclick="goToQuestion2()" style="display: none;">Next</button>
</div>




{% elif question_number == 2 %}
<div>
    <h1>Question 2</h1>
    <p>Emma has only ever rowed by herself, but she wants to get in a boat with her best friend, Lexi. Which shell
        should
        they ask to rent from the boathouse?
    </p>
    <div id="options">
        <div id="2a" class="option" onclick="selectAnswer('2a')">a. Single sculls</div>
        <div id="2b" class="option" onclick="selectAnswer('2b')">b. Coxless pair</div>
        <div id="2c" class="option" onclick="selectAnswer('2c')">c. Double sculls</div>
        <div id="2d" class="option" onclick="selectAnswer('2d')">d. None of the above</div>
    </div>
    <button id="submitBtn" onclick="submitAnswer()">Submit</button>
    <div id="quiz2score" style="display: none;"></div>
    <button id="nextBtn" onclick="goToQuestion3()" style="display: none;">Next</button>
</div>


{% elif question_number == 3 %}
<h1>Question 3</h1>
<p>During the men’s Eights Finals at the 2024 Olympics, David is in charge of timing the race for the USA. What has to
    cross the finish before David can stop the clock?
</p>
<div id="options">
    <div id="3a" class="option" onclick="selectAnswer('3a')">a. The bow ball</div>
    <div id="3b" class="option" onclick="selectAnswer('3b')">b. All eight blades</div>
    <div id="3c" class="option" onclick="selectAnswer('3c')">c. The stern deck</div>
    <div id="3d" class="option" onclick="selectAnswer('3d')">d. The coxswain</div>
</div>
<button id="submitBtn" onclick="submitAnswer()">Submit</button>
<div id="quiz3score" style="display: none;"></div>
<button id="nextBtn" onclick="goToQuestion4()" style="display: none;">Next</button>


{% elif question_number == 4 %}
<div>
    <h1>Question 4</h1>
    <p>Click on each photo and match it to the correct boat type.</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="terms">
                    <div class="box" onclick="selectMatch('term1')" id="term1">Rigger</div>
                    <div class="box" onclick="selectMatch('term2')" id="term2">Deck</div>
                    <div class="box" onclick="selectMatch('term3')" id="term3">Coxswain</div>
                    <div class="box" onclick="selectMatch('term4')" id="term4">Oarlock</div>
                    <div class="box" onclick="selectMatch('term5')" id="term5">Oar</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="defs">
                    <div class="box def" id="def1" onclick="selectMatch('def1')">The person in the boat responsible for
                        steering, safety, motivating the
                        crew, and race strategy. </div>
                    <div class="box def" id="def2" onclick="selectMatch('def2')">A brace that attaches an oar to a boat
                    </div>
                    <div class="box def" id="def3" onclick="selectMatch('def3')">The triangular metal device that is bolted
                        onto the side of the boat and
                        holds the oars. </div>
                    <div class="box def" id="def4" onclick="selectMatch('def4')">The device one uses to pull or push the
                        water, formerly made of wood and
                        now usually made of carbon fiber. </div>
                    <div class="box def" id="def5" onclick="selectMatch('def5')">The part of the shell at the bow and stern
                        that is covered with fiberglass
                        cloth or a thin plastic. </div>
                </div>
            </div>
        </div>
        <button id="submitBtnMatching" onclick="submitMatches()">Submit</button>
       <div id = "quiz4score"></div> 
        <button id="nextBtn" onclick="goToResults()" style="display: none;">See results!</button>
    </div>
</div>

    {% else %}
    <p>Quiz question not found.</p>
    {% endif %}

    {% endblock %}
